<p-table [paginator]="true" [rowsPerPageOptions]="[5, 10, 30]"
         [rows]="5"
         [showCurrentPageReport]="true"
         [tableStyle]="{'min-width': '50rem'}"
         [value]="agencies"
         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
         styleClass="p-datatable-striped">
  <ng-template pTemplate="header">
    <tr>
      <th>No.</th>
      <th>Name</th>
      <th>Email</th>
      <th>Register No.</th>
      <th>Phone</th>
      <th>Ministry</th>
      <th>Action</th>
    </tr>
  </ng-template>
  <ng-template let-index="rowIndex" let-agency pTemplate="body">
    <tr>
      <td>{{ index + 1 }}</td>
      <td>{{ agency.name }}</td>
      <td>{{ agency.email }}</td>
      <td>{{ agency.regNum }}</td>
      <td>{{ agency.phone }}</td>
      <td>{{ agency.domainMinistry.name }}</td>
      <td>
        <button (click)="editAgency(agency)" class="no-border-btn" [routerLink]="['edit']">
          <i class="pi pi-pencil text-blue-500"></i>
        </button>
        &nbsp;
        <button (click)="deleteAgency(agency, 'right')" class="no-border-btn">
          <i class="pi pi-trash text-red-500"></i>
        </button>

      </td>

    </tr>
  </ng-template>
</p-table>

<p-toast></p-toast>
<p-confirmDialog [position]="position" [style]="{ width: '50vw' }" acceptButtonStyleClass="p-button-text"
                 header="Confirmation"
                 key="positionDialog" rejectButtonStyleClass="p-button-text"
                 rejectButtonStyleClass="p-button-outlined"></p-confirmDialog>
