<div class="card py-10 ">
  <ul class="list-none p-0 m-0 flex align-items-center font-medium mb-3">
    <li>
      <a class="text-500 no-underline line-height-3 cursor-pointer">Main</a>
    </li>
    <li class="px-2">
      <i class="pi pi-angle-right text-500 line-height-3"></i>
    </li>
    <li>
      <span class="text-900 line-height-3">Users</span>
    </li>
    <li class="px-2">
      <i class="pi pi-angle-right text-500 line-height-3"></i>
    </li>
    <li>
      <span class="text-900 line-height-3">Employee</span>
    </li>
  </ul>
  <div class="flex align-items-start flex-column lg:justify-content-between lg:flex-row">
    <div>
      <div class="font-medium text-3xl text-900">Employee</div>
      <div class="flex align-items-center text-700 flex-wrap">
        <div class="mr-5 flex align-items-center mt-3">
          <i class="pi pi-users text-500 mr-2"></i>
          <span>{{ employeeCount }} Employees</span>
        </div>
      </div>
    </div>
    <div class="mt-3 lg:mt-0">
      <button (click)="onClickEmployeeCreate()" class="p-button-outlined mr-2" icon="pi pi-plus"
              label="New Employee"
              pButton
              pRipple></button>
    </div>
  </div>
</div>

<div class="card py-10 ">
  <router-outlet></router-outlet>
</div>


<p-toast></p-toast>
<p-confirmDialog [position]="position" [style]="{ width: '50vw' }" acceptButtonStyleClass="p-button-text"
                 header="Confirmation"
                 key="positionDialog" rejectButtonStyleClass="p-button-text"
                 rejectButtonStyleClass="p-button-outlined"></p-confirmDialog>

<p-dialog [(visible)]="isAddEnabled" [breakpoints]="{'960px': '100vw'}"
          [contentStyle]="{'max-height': '500px', 'overflow': 'auto'}" [modal]="true"
          [resizable]="true" [style]="{width: '60vw'}" header="New Employee"
          showEffect="fade">

  <form [formGroup]="employeeForm">
    <div class="p-fluid p-formgrid col">
      <div class="row">
        <div class="field col-12 md:col-6">
          <div class="field p-fluid">
            <label htmlFor="lastname2">Employee ID</label>
            <input [(ngModel)]="employeeDTO.empId"
                   [ngClass]="{ 'ng-invalid ng-dirty': isEmployeeFormSubmitted && f1['empId'].errors }"
                   formControlName='empId'
                   id="material" pInputText type="text"/>
          </div>
          <div *ngIf="isEmployeeFormSubmitted && f1['empId'].errors" class="mt-1">
            <small *ngIf="f1['empId'].errors?.['required']" class="p-error">Employee ID is required.</small>
          </div>
        </div>

        <div class="field col-12 md:col-6">
          <div class="field p-fluid">
            <label class="required-label" htmlFor="lastname2">First name</label>
            <input [(ngModel)]="employeeDTO.person.firstName"
                   [ngClass]="{ 'ng-invalid ng-dirty': isEmployeeFormSubmitted && f1['firstName'].errors }"
                   formControlName='firstName'
                   id="firstN" pInputText type="text"/>
          </div>
          <div *ngIf="isEmployeeFormSubmitted && f1['firstName'].errors" class="mt-1">
            <small *ngIf="f1['firstName'].errors?.['required']" class="p-error">First name is required.</small>
          </div>
        </div>

        <div class="field col-12 md:col-6">
          <div class="field p-fluid">
            <label class="required-label" htmlFor="lastname2">Last name</label>
            <input [(ngModel)]="employeeDTO.person.lastName"
                   [ngClass]="{ 'ng-invalid ng-dirty': isEmployeeFormSubmitted && f1['lastName'].errors }"
                   formControlName='lastName'
                   id="lastN" pInputText type="text"/>
          </div>
          <div *ngIf="isEmployeeFormSubmitted && f1['lastName'].errors" class="mt-1">
            <small *ngIf="f1['lastName'].errors?.['required']" class="p-error">Last name is required.</small>
          </div>
        </div>

        <div class="field col-12 md:col-3">
          <div class="field p-fluid">
            <label class="required-label" htmlFor="lastname2">NIC</label>
            <input [(ngModel)]="employeeDTO.person.nic"
                   [ngClass]="{ 'ng-invalid ng-dirty': isEmployeeFormSubmitted && f1['nic'].errors }"
                   formControlName='nic'
                   id="nic" pInputText type="text"/>
          </div>
          <div *ngIf="isEmployeeFormSubmitted && f1['nic'].errors" class="mt-1">
            <small *ngIf="f1['nic'].errors?.['required']" class="p-error">NIC is required.</small>
            <small *ngIf="f1['nic'].errors?.['pattern']" class="p-error">NIC is invalid.</small>
          </div>
        </div>

        <div class="field col-12 md:col-3">
          <div class="field p-fluid">
            <label class="required-label" htmlFor="lastname2">Passport No.</label>
            <input [(ngModel)]="employeeDTO.person.passport"
                   [ngClass]="{ 'ng-invalid ng-dirty': isEmployeeFormSubmitted && f1['passport'].errors }"
                   formControlName='passport'
                   id="passport" pInputText type="text"/>
          </div>
          <div *ngIf="isEmployeeFormSubmitted && f1['passport'].errors" class="mt-1">
            <small *ngIf="f1['passport'].errors?.['required']" class="p-error">Passport is required.</small>
            <small *ngIf="f1['passport'].errors?.['pattern']" class="p-error">Passport is invalid.</small>
          </div>
        </div>

        <div class="field col-12 md:col-6">
          <div class="field p-fluid">
            <label class="required-label" htmlFor="lastname2">Email</label>
            <input [(ngModel)]="employeeDTO.person.email"
                   [ngClass]="{ 'ng-invalid ng-dirty': isEmployeeFormSubmitted && f1['email'].errors }"
                   formControlName='email'
                   id="email" pInputText type="text"/>
          </div>
          <div *ngIf="isEmployeeFormSubmitted && f1['email'].errors" class="mt-1">
            <small *ngIf="f1['email'].errors?.['required']" class="p-error">Email is required.</small>
            <small *ngIf="f1['email'].errors?.['pattern']" class="p-error">Email is invalid.</small>
          </div>
        </div>

        <div class="field col-12 md:col-3">
          <div class="field p-fluid">
            <label class="required-label" htmlFor="lastname2">Phone No.</label>
            <input [(ngModel)]="employeeDTO.person.mobile1"
                   [ngClass]="{ 'ng-invalid ng-dirty': isEmployeeFormSubmitted && f1['phone'].errors }"
                   formControlName='phone'
                   id="phone" pInputText type="text"/>
          </div>
          <div *ngIf="isEmployeeFormSubmitted && f1['phone'].errors" class="mt-1">
            <small *ngIf="f1['phone'].errors?.['required']" class="p-error">Phone is required.</small>
            <small *ngIf="f1['phone'].errors?.['pattern']" class="p-error">Phone is invalid.</small>
          </div>
        </div>

        <div class="field col-12 md:col-3">
          <div class="field p-fluid">
            <label htmlFor="lastname2">Phone 2 No.</label>
            <input [(ngModel)]="employeeDTO.person.mobile2"
                   [ngClass]="{ 'ng-invalid ng-dirty': isEmployeeFormSubmitted && f1['phone2'].errors }"
                   formControlName='phone2'
                   id="phone2" pInputText type="text"/>
          </div>
          <div *ngIf="isEmployeeFormSubmitted && f1['phone2'].errors" class="mt-1">
            <small *ngIf="f1['phone2'].errors?.['required']" class="p-error">Phone 2 is required.</small>
            <small *ngIf="f1['phone2'].errors?.['pattern']" class="p-error">Phone 2 is invalid.</small>
          </div>
        </div>

        <div class="field col-12 md:col-6">
          <div class="field p-fluid">
            <label class="required-label" htmlFor="lastname2">Date of Birth</label>
            <p-calendar
              [(ngModel)]="employeeDTO.person.dob"
              [ngClass]="{ 'ng-invalid ng-dirty': isEmployeeFormSubmitted && f1['dob'].errors }"
              [showIcon]="true"
              formControlName='dob'
              inputId="dob" />
<!--            <input [(ngModel)]="employeeDTO.person.dob"-->
<!--                   [ngClass]="{ 'ng-invalid ng-dirty': isEmployeeFormSubmitted && f1['dob'].errors }"-->
<!--                   formControlName='dob'-->
<!--                   id="dob" pInputText type="text"/>-->
          </div>
          <div *ngIf="isEmployeeFormSubmitted && f1['dob'].errors" class="mt-1">
            <small *ngIf="f1['dob'].errors?.['required']" class="p-error">Date of Birth is required.</small>
          </div>
        </div>

        <div class="field col-6">
          <div class="field p-fluid">
            <label class="required-label" htmlFor="firstname2">Job Title</label>
            <p-dropdown
              (onChange)="setJobType($event)"
              [ngClass]="{ 'ng-invalid ng-dirty': isEmployeeFormSubmitted && f1['jobType'].errors }"
              [options]="jobTypeList"
              [showClear]="true"
              formControlName="jobType"
              optionLabel="name" placeholder="Select Job Title"></p-dropdown>
          </div>
          <div *ngIf="isEmployeeFormSubmitted && f1['jobType'].errors" class="mt-1">
            <small *ngIf="f1['jobType'].errors?.['required']" class="p-error">Job Title is required.</small>
          </div>
        </div>

        <div class="field col-6">
          <div class="field p-fluid">
            <label class="required-label" htmlFor="firstname2">Agency</label>
            <p-dropdown
              (onChange)="setAgency($event)"
              [ngClass]="{ 'ng-invalid ng-dirty': isEmployeeFormSubmitted && f1['agency'].errors }"
              [options]="agencyList"
              [showClear]="true"
              formControlName="agency"
              optionLabel="name" placeholder="Select Agency"></p-dropdown>
          </div>
          <div *ngIf="isEmployeeFormSubmitted && f1['agency'].errors" class="mt-1">
            <small *ngIf="f1['agency'].errors?.['required']" class="p-error">Agency is required.</small>
          </div>
        </div>
      </div>
      <h2 class="text-900 text-lg mt-5">Address</h2>
      <div class="row">
        <div class="field col-12 md:col-6">
          <div class="field p-fluid">
            <label htmlFor="lastname2">House No.</label>
            <input [(ngModel)]="employeeDTO.person.address.houseNumber"
                   [ngClass]="{ 'ng-invalid ng-dirty': isEmployeeFormSubmitted && f1['houseNumberE'].errors }"
                   formControlName='houseNumberE'
                   id="houseNumberE" pInputText type="text"/>
          </div>
          <div *ngIf="isEmployeeFormSubmitted && f1['houseNumberE'].errors" class="mt-1">
            <small *ngIf="f1['houseNumberE'].errors?.['required']" class="p-error">House No. is required.</small>
          </div>
        </div>

        <div class="field col-12 md:col-6">
          <div class="field p-fluid">
            <label htmlFor="lastname2">Street one</label>
            <input [(ngModel)]="employeeDTO.person.address.streetOne"
                   [ngClass]="{ 'ng-invalid ng-dirty': isEmployeeFormSubmitted && f1['streetOneE'].errors }"
                   formControlName='streetOneE'
                   id="streetOneE" pInputText type="text"/>
          </div>
          <div *ngIf="isEmployeeFormSubmitted && f1['streetOneE'].errors" class="mt-1">
            <small *ngIf="f1['streetOneE'].errors?.['required']" class="p-error">Street one is required.</small>
          </div>
        </div>
        <div class="field col-12 md:col-6">
          <div class="field p-fluid">
            <label htmlFor="lastname2">Street two</label>
            <input [(ngModel)]="employeeDTO.person.address.streetTwo"
                   [ngClass]="{ 'ng-invalid ng-dirty': isEmployeeFormSubmitted && f1['streetTwoE'].errors }"
                   formControlName='streetTwoE'
                   id="streetTwoE" pInputText type="text"/>
          </div>
          <div *ngIf="isEmployeeFormSubmitted && f1['streetTwoE'].errors" class="mt-1">
            <small *ngIf="f1['streetTwoE'].errors?.['required']" class="p-error">Street two is required.</small>
          </div>
        </div>

        <div class="field col-12 md:col-6">
          <div class="field p-fluid">
            <label class="required-label" htmlFor="lastname2">City</label>
            <input [(ngModel)]="employeeDTO.person.address.city"
                   [ngClass]="{ 'ng-invalid ng-dirty': isEmployeeFormSubmitted && f1['city'].errors }"
                   formControlName='city'
                   id="city" pInputText type="text"/>
          </div>
          <div *ngIf="isEmployeeFormSubmitted && f1['city'].errors" class="mt-1">
            <small *ngIf="f1['city'].errors?.['required']" class="p-error">City is required.</small>
          </div>
        </div>

        <div class="field col-12 md:col-6">
          <div class="field p-fluid">
            <label class="required-label" htmlFor="lastname2">District</label>
            <input [(ngModel)]="employeeDTO.person.address.district"
                   [ngClass]="{ 'ng-invalid ng-dirty': isEmployeeFormSubmitted && f1['district'].errors }"
                   formControlName='district'
                   id="district" pInputText type="text"/>
          </div>
          <div *ngIf="isEmployeeFormSubmitted && f1['district'].errors" class="mt-1">
            <small *ngIf="f1['district'].errors?.['required']" class="p-error">District is required.</small>
          </div>
        </div>

        <div class="field col-12 md:col-6">
          <div class="field p-fluid">
            <label class="required-label" htmlFor="lastname2">Postal Code</label>
            <input [(ngModel)]="employeeDTO.person.address.postalCode"
                   [ngClass]="{ 'ng-invalid ng-dirty': isEmployeeFormSubmitted && f1['postalCode'].errors }"
                   formControlName='postalCode'
                   id="postalCode" pInputText type="text"/>
          </div>
          <div *ngIf="isEmployeeFormSubmitted && f1['postalCode'].errors" class="mt-1">
            <small *ngIf="f1['postalCode'].errors?.['required']" class="p-error">Postal Code is required.</small>
          </div>
        </div>
      </div>
      <h2 class="text-900 text-lg mt-5">Guardian</h2>
      <div class="row">
        <div class="field col-12 md:col-6">
          <div class="field p-fluid">
            <label class="required-label" htmlFor="lastname2">First name</label>
            <input [(ngModel)]="employeeDTO.gradient.person.firstName"
                   [ngClass]="{ 'ng-invalid ng-dirty': isEmployeeFormSubmitted && f1['firstNameG'].errors }"
                   formControlName='firstNameG'
                   id="firstNameG" pInputText type="text"/>
          </div>
          <div *ngIf="isEmployeeFormSubmitted && f1['firstNameG'].errors" class="mt-1">
            <small *ngIf="f1['firstNameG'].errors?.['required']" class="p-error">First name is required.</small>
          </div>
        </div>

        <div class="field col-12 md:col-6">
          <div class="field p-fluid">
            <label class="required-label" htmlFor="lastname2">Last name</label>
            <input [(ngModel)]="employeeDTO.gradient.person.lastName"
                   [ngClass]="{ 'ng-invalid ng-dirty': isEmployeeFormSubmitted && f1['lastNameG'].errors }"
                   formControlName='lastNameG'
                   id="lastNameG" pInputText type="text"/>
          </div>
          <div *ngIf="isEmployeeFormSubmitted && f1['lastNameG'].errors" class="mt-1">
            <small *ngIf="f1['lastNameG'].errors?.['required']" class="p-error">Last name is required.</small>
          </div>
        </div>

        <div class="field col-6">
          <div class="field p-fluid">
            <label class="required-label" htmlFor="firstname2">Type</label>
            <p-dropdown
              (onChange)="setGradientType($event)"
              [ngClass]="{ 'ng-invalid ng-dirty': isEmployeeFormSubmitted && f1['gradientType'].errors }"
              [options]="gradientTypeList"
              [showClear]="true"
              formControlName="gradientType"
              optionLabel="name" placeholder="Select Agency"></p-dropdown>
          </div>
          <div *ngIf="isEmployeeFormSubmitted && f1['gradientType'].errors" class="mt-1">
            <small *ngIf="f1['gradientType'].errors?.['required']" class="p-error">Type is required.</small>
          </div>
        </div>

        <div class="field col-12 md:col-3">
          <div class="field p-fluid">
            <label class="required-label" htmlFor="lastname2">NIC</label>
            <input [(ngModel)]="employeeDTO.gradient.person.nic"
                   [ngClass]="{ 'ng-invalid ng-dirty': isEmployeeFormSubmitted && f1['nicG'].errors }"
                   formControlName='nicG'
                   id="nicG" pInputText type="text"/>
          </div>
          <div *ngIf="isEmployeeFormSubmitted && f1['nicG'].errors" class="mt-1">
            <small *ngIf="f1['nicG'].errors?.['required']" class="p-error">NIC is required.</small>
            <small *ngIf="f1['nicG'].errors?.['pattern']" class="p-error">NIC is invalid.</small>
          </div>
        </div>

        <div class="field col-12 md:col-3">
          <div class="field p-fluid">
            <label htmlFor="lastname2">Passport No.</label>
            <input [(ngModel)]="employeeDTO.gradient.person.passport"
                   [ngClass]="{ 'ng-invalid ng-dirty': isEmployeeFormSubmitted && f1['passportG'].errors }"
                   formControlName='passportG'
                   id="passportG" pInputText type="text"/>
          </div>
          <div *ngIf="isEmployeeFormSubmitted && f1['passportG'].errors" class="mt-1">
            <small *ngIf="f1['passportG'].errors?.['required']" class="p-error">Passport is required.</small>
            <small *ngIf="f1['passportG'].errors?.['pattern']" class="p-error">Passport is invalid.</small>
          </div>
        </div>

        <div class="field col-12 md:col-6">
          <div class="field p-fluid">
            <label class="required-label" htmlFor="lastname2">Email</label>
            <input [(ngModel)]="employeeDTO.gradient.person.email"
                   [ngClass]="{ 'ng-invalid ng-dirty': isEmployeeFormSubmitted && f1['emailG'].errors }"
                   formControlName='emailG'
                   id="emailG" pInputText type="text"/>
          </div>
          <div *ngIf="isEmployeeFormSubmitted && f1['emailG'].errors" class="mt-1">
            <small *ngIf="f1['emailG'].errors?.['required']" class="p-error">Email is required.</small>
            <small *ngIf="f1['emailG'].errors?.['pattern']" class="p-error">Email is invalid.</small>
          </div>
        </div>

        <div class="field col-12 md:col-3">
          <div class="field p-fluid">
            <label class="required-label" htmlFor="lastname2">Phone No.</label>
            <input [(ngModel)]="employeeDTO.gradient.person.mobile1"
                   [ngClass]="{ 'ng-invalid ng-dirty': isEmployeeFormSubmitted && f1['phoneG'].errors }"
                   formControlName='phoneG'
                   id="phoneG" pInputText type="text"/>
          </div>
          <div *ngIf="isEmployeeFormSubmitted && f1['phoneG'].errors" class="mt-1">
            <small *ngIf="f1['phoneG'].errors?.['required']" class="p-error">Phone is required.</small>
            <small *ngIf="f1['phoneG'].errors?.['pattern']" class="p-error">Phone is invalid.</small>
          </div>
        </div>

        <div class="field col-12 md:col-3">
          <div class="field p-fluid">
            <label class="required-label" htmlFor="lastname2">Phone 2 No.</label>
            <input [(ngModel)]="employeeDTO.gradient.person.mobile2"
                   [ngClass]="{ 'ng-invalid ng-dirty': isEmployeeFormSubmitted && f1['phone2G'].errors }"
                   formControlName='phone2G'
                   id="phone2G" pInputText type="text"/>
          </div>
          <div *ngIf="isEmployeeFormSubmitted && f1['phone2G'].errors" class="mt-1">
            <small *ngIf="f1['phone2G'].errors?.['required']" class="p-error">Phone 2 is required.</small>
            <small *ngIf="f1['phone2G'].errors?.['pattern']" class="p-error">Phone 2 is invalid.</small>
          </div>
        </div>

      </div>
      <h2 class="text-900 text-lg mt-5">Address</h2>
      <div class="row">
        <div class="field col-12 md:col-12">
          <label class="required-label">Same as Employee</label>
          <div class="d-flex align-items-center">
            <div class="mr-3">
              <p-radioButton (onClick)="onSameAsEmployeeAddressChange($event)" name="sameAsEmployeeAddress"
                             value="true"
                             formControlName="sameAsEmployeeAddress"
                             inputId="sameAsEmployeeYes"></p-radioButton>
              <label class="ml-1">Yes</label>
            </div>
            <div>
              <p-radioButton (onClick)="onSameAsEmployeeAddressChange($event)" name="sameAsEmployeeAddress"
                             value="false" formControlName="sameAsEmployeeAddress"
                             inputId="sameAsEmployeeNo"></p-radioButton>
              <label class="ml-1">No</label>
            </div>
          </div>
          <div *ngIf="isEmployeeFormSubmitted && f1['sameAsEmployeeAddress'].errors" class="mt-1">
            <small *ngIf="f1['sameAsEmployeeAddress'].errors?.['required']" class="p-error">Selection is
              required.</small>
          </div>
        </div>

        <div class="field col-12 md:col-6">
          <div class="field p-fluid">
            <label htmlFor="lastname2">House No.</label>
            <input [(ngModel)]="employeeDTO.gradient.person.address.houseNumber"
                   [ngClass]="{ 'ng-invalid ng-dirty': isEmployeeFormSubmitted && f1['houseNumberG'].errors }"
                   formControlName='houseNumberG'
                   id="houseNumberG" pInputText type="text"/>
          </div>
          <div *ngIf="isEmployeeFormSubmitted && f1['houseNumberG'].errors" class="mt-1">
            <small *ngIf="f1['houseNumberG'].errors?.['required']" class="p-error">House No. is required.</small>
          </div>
        </div>

        <div class="field col-12 md:col-6">
          <div class="field p-fluid">
            <label htmlFor="lastname2">Street one</label>
            <input [(ngModel)]="employeeDTO.gradient.person.address.streetOne"
                   [ngClass]="{ 'ng-invalid ng-dirty': isEmployeeFormSubmitted && f1['streetOneG'].errors }"
                   formControlName='streetOneG'
                   id="streetOneG" pInputText type="text"/>
          </div>
          <div *ngIf="isEmployeeFormSubmitted && f1['streetOneG'].errors" class="mt-1">
            <small *ngIf="f1['streetOneG'].errors?.['required']" class="p-error">Street one is required.</small>
          </div>
        </div>
        <div class="field col-12 md:col-6">
          <div class="field p-fluid">
            <label htmlFor="lastname2">Street two</label>
            <input [(ngModel)]="employeeDTO.gradient.person.address.streetTwo"
                   [ngClass]="{ 'ng-invalid ng-dirty': isEmployeeFormSubmitted && f1['streetTwoG'].errors }"
                   formControlName='streetTwoG'
                   id="streetTwoG" pInputText type="text"/>
          </div>
          <div *ngIf="isEmployeeFormSubmitted && f1['streetTwoG'].errors" class="mt-1">
            <small *ngIf="f1['streetTwoG'].errors?.['required']" class="p-error">Street two is required.</small>
          </div>
        </div>

        <div class="field col-12 md:col-6">
          <div class="field p-fluid">
            <label class="required-label" htmlFor="lastname2">City</label>
            <input [(ngModel)]="employeeDTO.gradient.person.address.city"
                   [ngClass]="{ 'ng-invalid ng-dirty': isEmployeeFormSubmitted && f1['cityG'].errors }"
                   formControlName='cityG'
                   id="cityG" pInputText type="text"/>
          </div>
          <div *ngIf="isEmployeeFormSubmitted && f1['cityG'].errors" class="mt-1">
            <small *ngIf="f1['cityG'].errors?.['required']" class="p-error">City is required.</small>
          </div>
        </div>

        <div class="field col-12 md:col-6">
          <div class="field p-fluid">
            <label class="required-label" htmlFor="lastname2">District</label>
            <input [(ngModel)]="employeeDTO.gradient.person.address.district"
                   [ngClass]="{ 'ng-invalid ng-dirty': isEmployeeFormSubmitted && f1['districtG'].errors }"
                   formControlName='districtG'
                   id="districtG" pInputText type="text"/>
          </div>
          <div *ngIf="isEmployeeFormSubmitted && f1['districtG'].errors" class="mt-1">
            <small *ngIf="f1['districtG'].errors?.['required']" class="p-error">District is required.</small>
          </div>
        </div>

        <div class="field col-12 md:col-6">
          <div class="field p-fluid">
            <label class="required-label" htmlFor="lastname2">Postal Code</label>
            <input [(ngModel)]="employeeDTO.gradient.person.address.postalCode"
                   [ngClass]="{ 'ng-invalid ng-dirty': isEmployeeFormSubmitted && f1['postalCodeG'].errors }"
                   formControlName='postalCodeG'
                   id="postalCodeG" pInputText type="text"/>
          </div>
          <div *ngIf="isEmployeeFormSubmitted && f1['postalCodeG'].errors" class="mt-1">
            <small *ngIf="f1['postalCodeG'].errors?.['required']" class="p-error">Postal Code is required.</small>
          </div>
        </div>
      </div>
    </div>

  </form>
  <ng-template pTemplate="footer">
    <button (click)="onAddEmployeeSubmit()" class="p-button-outlined" icon="pi pi-check" label="Add" pButton></button>
  </ng-template>

</p-dialog>


